<!-- Main Sidebar Container -->
<div class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link">
        <img src="../../assets/dist/img/AdminLTELogo.png" alt="e Bidding System" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">e Bidding System</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a [routerLink]="['/dashboard/welcome']" [class]="currentMenu === 'welcome'? 'nav-link active' : 'nav-link'" (click)="updateMenuStatus('welcome')">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Welcome
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/dashboard/market']" [class]="currentMenu === 'market'? 'nav-link active' : 'nav-link'" (click)="updateMenuStatus('market')">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>
                            Market Situation
                        </p>
                    </a>
                </li>
                <li *ngIf="userGroup!==-1" class="nav-item">
                    <a [routerLink]="['/dashboard/bwicList']" [class]="currentMenu === 'bwicList'? 'nav-link active' : 'nav-link'" (click)="updateMenuStatus('bwicList')">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            View BWIC
                        </p>
                    </a>
                </li>
                <li *ngIf="userGroup===-1" class="nav-item">
                    <a [routerLink]="['/dashboard/manage']" [class]="currentMenu === 'manage'? 'nav-link active' : 'nav-link'" (click)="updateMenuStatus('manage')">
                        <i class="nav-icon fas fa-user-shield"></i>
                        <p>
                            Manage BWIC
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</div>