<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!--div class="col-md-12">
                    
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Area Chart</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div *ngIf="plotImage1">
                                <img [src]="plotImage1" alt="Plot Image">
                            </div>
                        </div>
                    </div>


                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Donut Chart</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div *ngIf="plotImage2">
                                <img [src]="plotImage2" alt="Plot Image">
                            </div>
                        </div>
                    </div>

                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Donut Chart</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div *ngIf="plotImage3">
                                <img [src]="plotImage3" alt="Plot Image">
                            </div>
                        </div>
                    </div>

                    

                </div-->

                <div class="col-md-12">
                    
                    <div class="card card-primary collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">交易价格随时间的变化情况</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <img src="../../assets/dist/img/pic1.png" alt="Plot Image">
                            </div>
                        </div>
                    </div>


                    <div class="card card-danger collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">工作人员的工作频率</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <img src="../../assets/dist/img/pic2.png" alt="Plot Image">
                            </div>
                        </div>
                    </div>

                    <div class="card card-primary collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">风险等级与投标成功率的关系</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <img src="../../assets/dist/img/pic3.png" alt="Plot Image">
                            </div>
                        </div>
                    </div>

                    <div class="card card-danger collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">投标的平均市场价值和成功率</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <img src="../../assets/dist/img/pic4.png" alt="Plot Image">
                            </div>
                        </div>
                    </div>

                    <div class="card card-primary collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">各个变量间的关系</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <img src="../../assets/dist/img/pic5.png" alt="Plot Image">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>